# dependencies
node_modules/

# env / secrets
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*~lock*

# OS/editor
.DS_Store
.vscode/
.idea/

# build output
dist/
build/

# auxiliary
helpful-tips.txt
git-branching.txt
takeaways.txt
cookies.txt
cookies2.txt
